
<div class="container-fluid" style="height:auto">
    <div class="row">
        <div class="col-sm-12">
            <div class="jumbotron bg-transparent text-center">
                <div class="card text-center">
                    <h2 class="card-header">
                        Pictures
                    </h2>
                    <div class="card-block">
                        <a routerLink="/memoryimagecarousel/jntu/1991">
                            <h4>Go To Memories</h4>
                        </a>
                    </div>
                    <div class="card-block">
                        <a routerLink="/collegeimagecarousel/jntu/1991">
                            <h4>Go To College Photos</h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
