.header-image {
    background-image: url('./images/JNTU_Anantapur_Perspective.jpg');
    background-position: top center;
    background-size: cover;
    height: 250px;
}

.container-fluid{
    padding-left:0px!important;
    padding-right:0px!important
}
