<div class="container-fluid">
    <header>
        <div class="row">
            <div class="col-sm-2 text-center font-italic p-0" style="height:225px;font-family:cursive;font-size:70px;border:double;border-color:lightblue;background-color:darkgoldenrod;color:white;border-width:10px;padding:0px;">College Reunion!</div>
            <img class="col-sm-10" src="./images/JNTU_Anantapur_Perspective.jpg" src="./images/JNTU_Anantapur_Perspective.jpg" width="100%" style="height:225px;padding:0px" alt="College" />
        </div>
    </header><!-- container -->
</div>