<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.css">
  <title>College Reunion</title>
</head>
<body>
    <div class="container">


  <!-- Each carousel needs a unique ID -->
  <div id="carousel-id" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <img src="https://dummyimage.com/1200x400/000/fff" alt="First slide" class="img-fluid">
      </div>
      <div class="carousel-item">
        <img src="./images/background.jpg" alt="First slide" class="img-fluid">
      </div>
      <div class="carousel-item">
        <img src="./images/doctor-wong.jpg" alt="First slide" class="img-fluid">
      </div>
    </div>

    <ol class="carousel-indicators">
      <li data-target="#carousel-" data-slide-to="0" class="active"></li>
      <li data-target="#carousel" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>
    <p class="text-xs-center">
      <a class="" href="#carousel-id" role="button" data-slide="prev">
        <span class="icon-prev" aria-hidden="true"></span> Previous
      </a>&emsp;
      <a class="l" href="#carousel-id" role="button" data-slide="next">
        <span class="icon-next" aria-hidden="true"></span> Next
      </a>
    </p>
    <!-- /.text-center -->
  </div>
<!-- /.carousel -->
  
</div>
<!-- /.container -->


<script src="js/jquery-3.2.1.slim.min.js"></script>
<script src="js/tether.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/scripts.js"></script>
</body>
</html><