<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.css">
  <title>College Reunion</title>
</head>
<body>
    <div class="container-fluid">

        <div class="row">
            <header class="col-sm-12 header-image"></header><!-- container -->
        </div>
        <div class="row">
            <nav class="col-sm-12 navbar navbar-inverse navbar-toggleable-sm justify-content-end" style="background-color:#a7856b">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapseLinks" aria-controls="collapseLinks" aria-expanded="false" aria-label="Toggle Navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a href="#" class="navbar-brand">
                    <img src="./images/logo.png" alt="Logo" />
                    <img src="./images/reunion.jpg" style="width:100px" alt="Logo" />
                </a>

                <div class="collapse navbar-collapse" id="collapseLinks">
                    <h2 class="navbar-text mr-5  text-white">Jawaharlal Nehru Technological Unniversity</h2>
                    <div class="navbar-nav" style="font-size:x-large">
                        <a class="nav-item nav-link active" href="#">Home</a>
                        <a class="nav-item nav-link" href="#">Mission</a>
                        <a class="nav-item nav-link" href="#">Register College</a>
                        <a class="nav-item nav-link" href="#">Register Student</a>
                        <a class="nav-item nav-link disabled" href="#">Comments</a>
                        <a class="nav-item nav-link " href="#">Login</a>
                    </div>
                </div>
            </nav>
            <!--<nav class="col-sm-1 navbar navbar-inverse navbar-toggleable-sm justify-content-center" style="background-color:#a7856b">
                <div class="navbar-nav" style="font-size:x-large">
                    <a class="nav-item nav-link " href="#">Login</a>
                </div>
            </nav>-->
        </div>
        <div class="row justify-content-center" style="height:500px">
            <!--<footer class="col-sm-12 footer-image"></footer>--><!-- container -->
            <div lass="col-sm-12">
                <img class="img-fluid" src="./images/Share-your-story.jpg" alt="Share your story" />
            </div>
        </div>
    </div>


<script src="js/jquery-3.2.1.slim.min.js"></script>
<script src="js/tether.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/scripts.js"></script>
</body>
</html><