<div class="container-fluid" style="height:auto">
    <div class="row">
        <div class="col-sm-12" >
            <div class="jumbotron bg-transparent text-center">
                <div class="card text-center">
                    <h2 class="card-header">
                        Directory
                    </h2>
                    <div class="card-block">
                        <a [routerLink]="['/deptdirectory', 'jntu','1991', 'chemical']"><h4>Chemical Engineering</h4></a>
                    </div>
                    <div class="card-block">
                        <a [routerLink]="['/deptdirectory', 'jntu','1991', 'civil']"><h4>Civil Engineering</h4></a>
                    </div>
                    <div class="card-block">
                        <a [routerLink]="['/deptdirectory', 'jntu','1991', 'computer']"><h4>Computer Science Engineering</h4></a>
                    </div>
                    <div class="card-block">
                        <a [routerLink]="['/deptdirectory', 'jntu','1991', 'electrical']"><h4>Electrical Engineering</h4></a>
                    </div>
                    <div class="card-block">
                        <a [routerLink]="['/deptdirectory', 'jntu','1991', 'electronics']"><h4>Electronics and Communications Engineering</h4></a>
                    </div>
                    <div class="card-block">
                        <a [routerLink]="['/deptdirectory', 'jntu','1991', 'mechanical']"><h4>Mechanical Engineering</h4></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

