<div class="col-sm-12">
    <img class="img-fluid" src="./images/Share-your-story_1000.jpg" alt="Share your story" width="100%" style="height:550px" />
    <!--<img sizes="(max-width: 1000px) 100vw, 1000px"
             ng-srcset="
    ./images/Share-your-story_200.jpg 200w,
    ./images/Share-your-story_489.jpg 489w,
    ./images/Share-your-story_693.jpg 693w,
    ./images/Share-your-story_896.jpg 896w,
    ./images/Share-your-story_1000.jpg 1000w"
             src="./images/Share-your-story_1000.jpg"
             alt="Share your story">-->  
</div>